body {
    background-color: rgb(20, 20, 20);
}
div {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 30px;
    background-color: rgb(50, 50, 50);
}
#main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(50, 50, 50);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: max-content;
    height: max-content;
    padding: 8px;
    background-color: black;
    border: 2px solid black;
    border-radius: 20px;
}
#box {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(50, 50, 50);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 0%;
    width: max-content;
    height: max-content;
    padding: 8px;
    background-color: black;
    border: 2px solid black;
    border-radius: 20px;
}
#linea {
    z-index: 0;
    border: 2px solid rgb(150, 150, 255);
    background-color: black;
}
input {
    color: white;
    background-color: rgb(20, 20, 20);
    border: 2px solid black;
    border-radius: 5px;
}
#closeK {
    color: white;
    position: fixed;
    background-color: rgba(20, 20, 20, 0);
    border: 0px;
    right: 10px;
    top: 10px;
}
#closeK:hover {
    color:red;
}
.enter {
    color: white;
    background-color: rgba(20, 20, 20, 0);
    border: 0px;
    cursor: pointer;
}
